# Node modules
node_modules/

# Build output
dist/

# TypeScript configuration
*.tsbuildinfo

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor-specific files
.vscode/
.idea/
*.suo
*.user
*.userossc
*.suo
*.ntvs*
*.njsproj
*.sln

# Miscellaneous
*.swp
*.swo
